<div class="container d-flex flex-column align-items-center justify-content-center mt-5" style="width: 40rem">
  <h3>使用錯誤的連結，請重新輸入網址!!</h3>
  <a href="/" type="button" class="btn btn-outline-success mt-3" style="font-size: 30px"><i
      class="fas fa-arrow-circle-left pe-2"></i>Back</a>
</div>