<div class="container mt-5" style="width: 40rem">
  <form action="/success" method="post" class="d-flex flex-column align-items-center">
    <input type="url" class="form-control" name="URL" placeholder="Input URL here..." required>
    <button type="submit" class="btn btn-outline-primary btn-block mt-4" style="width: 10rem">Shorten</button>
  </form>
</div>