<div class="container d-flex flex-column align-items-center mt-5" style="width: 40rem">
  <h3>Here is your Short URL</h3>
  <div class="d-flex flex-row mt-2" style="width: 30rem">
    <a href="{{ shortURL }}" target="_blank" type="button" class="btn btn-outline-primary me-2"
      style="text-decoration: none">Go</a>
    <input type="text" value="{{ shortURL }}" class="form-control" name="text" id="copyUrl">
    <button type="button" class="btn btn-outline-primary ms-2" onclick="myFunction()">
      <i class="far fa-copy"></i></button>
  </div>
  <a href="/" type="button" class="btn btn-outline-success mt-3"><i class="fas fa-arrow-circle-left pe-2"></i>Back</a>
</div>


{{!-- 看 w3 School 的另一種範例寫的，但是 CSS 效果跑不出來，之後再來想 --}}
{{!-- <div class="container d-flex flex-column align-items-center mt-5" style="width: 40rem">
  <h3>Here is your Short URL</h3>
  <div class="d-flex flex-row mt-2" style="width: 30rem">
    <a href="{{ shortUrl }}" target="_blank" type="button" class="btn btn-outline-primary me-2"
      style="text-decoration: none">Go</a>
    <input type="text" value="{{ shortUrl }}" class="form-control" name="text" id="copyUrl">
    <div class="tooltip">
      <button type="button" class="btn btn-outline-primary ms-2" onclick="myFunction()" onmouseout="outFunc()">
        <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
        <i class="far fa-copy"></i></button>
    </div>
  </div>
  <a href="/" type="button" class="btn btn-outline-success mt-3"><i class="fas fa-arrow-circle-left pe-2"></i>Back</a>
</div> --}}